<h1>3rd Party Publishing Playbook and Sample Use Case</h1>

<h3>
A sample use case and playbook in order to standardise and simplify the presentation of use cases developed by 3rd parties using Northern Powergrid (NPg) Open Data
</h3>

<h2>Target User Community:</h2>

<p>
    Interested 3rd parties using NPg Open Datasets and potentially other Open Data sources to create tools & solutions that they wish to publicise through the NPg Open Data Portal. 
</p>

<h3>
    Content requirements:
</h3>
<ul>
    <li>Use Case Definition</li>
    <li>Datasets used - NPg Datasets and any other open data sets</li>
    <li>User pre-requisites to access tool/solution</li>
</ul>

<h3>
    Submission Channel
</h3>
<p>
    Northern Powergrid are gathering data on who has worked with their data. You can submit your projects to be included on the Open Data Portal via the form below.
</p>
<a href="https://northernpowergrid.opendatasoft.com/pages/reuseform/">Dataset Reuse Form — Open Data | Northern Powergrid (opendatasoft.com)</a>