<h1>3rd Party Publishing Playbook and Sample Use Case</h1>

<h3>
A sample use case and playbook in order to standardise and simplify the presentation of use cases developed by 3rd parties using Northern Powergrid (NPg) Open Data
</h3>

<h2>Target User Community:</h2>

<p>
    Interested 3rd parties using NPg Open Datasets and potentially other Open Data sources to create tools & solutions that they wish to publicise through the NPg Open Data Portal. 
</p>

<h3>
    Content requirements:
</h3>
<ul>
    <li>Use Case Definition</li>
    <li>Datasets used - NPg Datasets and any other open data sets</li>
    <li>User pre-requisites to access tool/solution</li>
</ul>

<h3>
    Submission Channel
</h3>
<p>
    Northern Powergrid are gathering data on who has worked with their data. You can submit your projects to be included on the Open Data Portal via the form below.
</p>
<a href="https://northernpowergrid.opendatasoft.com/pages/reuseform/">Dataset Reuse Form — Open Data | Northern Powergrid (opendatasoft.com)</a>


<h2>Example Use Case</h2>

<p>
    <strong>Objective:</strong> To ensure that the solution/tool can search by a given location and successfully return a subset of the national ECR. The tool will also search all NPg open data for a given geography.
</p>

<p>
    Approach: We have created an example use case the, publish this on an open Github repository to indicate best practice in publishing use cases on the NPg Open Data Portal.
</p>

<p>
    This will serve as an ‘Example Use Case’ to incentivise and offer guidance for people to publish data on the NPg Open Data portal, such as documenting analysis, assumptions made and technical infrastructure.
</p>