---
title: H2-DNO
header_class: Q5
logo_colour: white
---

<h1>3rd Party Publishing Playbook and Sample Use Case</h1>

</br>
<h3>
A sample use case and playbook in order to standardise and simplify the presentation of use cases developed by 3rd parties using Northern Powergrid (NPg) Open Data
</h3>
</br>

<h2>Target User Community:</h2>

<p>
    Interested 3rd parties using NPg Open Datasets and potentially other Open Data sources to create tools & solutions that they wish to publicise through the NPg Open Data Portal. 
</p>

<h3>
    Content requirements:
</h3>
<ul>
    <li>Use Case Definition</li>
    <li>Datasets used - NPg Datasets and any other open data sets</li>
    <li>User pre-requisites to access tool/solution</li>
</ul>

<h3>
    Submission Channel
</h3>
<p>
    Northern Powergrid are gathering data on who has worked with their data. You can submit your projects to be included on the Open Data Portal via the form below.
</p>
<a href="https://northernpowergrid.opendatasoft.com/pages/reuseform/">Dataset Reuse Form — Open Data | Northern Powergrid (opendatasoft.com)</a>


<h2>Example Use Case</h2>

<p>
    <strong>Objective:</strong> To ensure that the solution/tool can search by a given location and successfully return a subset of the national ECR. The tool will also search all NPg open data for a given geography.
</p>

<p>
    Approach: We have created an example use case the, publish this on an open Github repository to indicate best practice in publishing use cases on the NPg Open Data Portal.
</p>

<p>
    This will serve as an ‘Example Use Case’ to incentivise and offer guidance for people to publish data on the NPg Open Data portal, such as documenting analysis, assumptions made and technical infrastructure.
</p>

<p>
    The images below present a tool that visualises local authority level Embedded Capacity and flood risk asset data.
</p>

<h2>Procedure</h2>

<p>
Step1: We have considered the ECR Flood Risk register which will serve as Example Use case in future. We have sourced two sample datasets from the Northern PowerGrid data portal.
</p>

<ul>
    <li>Dataset 1: Flood Risk Register</li>
    <li>Dataset 2: Capacity Register</li>
</ul>

<p>
Step 2: We will merge two datasets using Power BI to create a sample set to achieve following. 
</p>

<ol>
    <li>Showcase how multiple shared data sources can be unified for specific use-cases.</li>
    <li>Demonstrate how an available tool (Power BI) can be utilised to overarch multiple data sources and achieve interoperability.</li>
    <li>To standardise the data into a single readable format.</li>
    <li>To promote the data sharing culture and turn data assets into profit driving assets for the businesses, government and local authorities.</li>
<ol>

<p>Step 3: We have prepared the datasets in Power BI through manual data cleansing and to adding required values to standardise the format of the data set.</p>

<p>
    Step 4: We have created a data visualisation channel to visualise all NPg data for a given location. The visualisation will enable users to search for a given location and successfully retrieve a subset of national ECR on a geographic map (Power BI - Inbuilt).
</p>

<h3>Pre- requisite for the Target Users</h3>

<p>The user needs a login credential from <a href="https://northernpowergrid.opendatasoft.com/">Open NPg Data Portal</a> and PowerBI installed/supported in their device to access the online tool.</p>


