---
title: Are we there yet?
header_class: Q5
logo_colour: white
---

<p>Here is some placeholder text</p>
{{ data.sample_data | dump(2) }}


{% comp 'wrapper', {
	"component": comp.oi.map.svg,
	"config": {
		"data": data.sample_data,
		"geojson": {
          "key": "mapit_code",
          "data": geojson.leeds_postcode_sectors
		},
		"key": "postcodes",
		"value": "Customer Numbers",
		"scale": "Viridis"
	}
} %}{% endcomp %}


<h2>Notes</h2>


