---
title: Are we there yet?
header_class: Q5
logo_colour: white
---

<style>
ul.grid { list-style:none; margin: 0; }
ul.grid > li { background: #efefef; padding: 1.5rem; }
ul.grid > li > h3 { margin-bottom: 0; }
ul.grid > li > h3 + p { margin-top: 0.5rem; }
ul.grid .oi-viz { margin-bottom: 0; }
</style>



<p>What signals are there in the data that suggest whether we are travelling in the right direction and how well we are doing?</p>

<h2>Summary</h2>
<ul class="grid">
	<li>
		<h3>Customers</h3>

		<p>This is a map of the number of electric grid connections (domestic, commercial and industrial) in each postcode sector of Leeds. Data from <a href="https://northernpowergrid.opendatasoft.com/explore/embed/dataset/lct-datasets-ps-upload/custom/">Northern Powergrid</a></p>

		{% comp 'wrapper', {
			"component": comp.oi.map.svg,
			"config": {
				"data": "data.sample_data",
				"geojson": {
				  "key": "sector",
				  "data": geojson.leeds_postcode_sectors
				},
				"key": "Unique Postal Districts",
				"value": "Customer Numbers",
				"scale": "Heat_r",
				"min": 0,
				"max": 6000,
				"legend": {
					"position": "bottom left",
					"items": [{
						"value": 6000,
						"label": "6k+"
					},{
						"value": 4000,
						"label": "4k"
					},{
						"value": 2000,
						"label": "2k"
					},{
						"value": 0,
						"label": "0k"
					}]
				},
				"columns": [{
					"name": "tooltip",
					"template": "<strong>{{ geojson.properties.sector }}</strong><br />Customers: {{ Customer Numbers | toLocaleString() }}"
				}],
				"tooltip": "tooltip",
				"tools": {
					"filter": {
						"label": "Unique Postal Districts"
					}
				}
			}
		} %}{% endcomp %}
	</li>
	<li>
		<h3>Heat pumps</h3>

		<p>This is a map of the number of heat pumps in each postcode sector of Leeds. Data from <a href="https://northernpowergrid.opendatasoft.com/explore/embed/dataset/lct-datasets-ps-upload/custom/">Northern Powergrid</a></p>

		{% comp 'wrapper', {
			"component": comp.oi.map.svg,
			"config": {
				"data": "data.sample_data",
				"geojson": {
				  "key": "sector",
				  "data": geojson.leeds_postcode_sectors
				},
				"key": "Unique Postal Districts",
				"value": "Number of Heat Pumps",
				"scale": "Heat_r",
				"min": 0,
				"max": 150,
				"legend": {
					"position": "bottom left",
					"items": [{
						"value": 150,
						"label": "150+"
					},{
						"value": 100,
						"label": "100"
					},{
						"value": 50,
						"label": "50"
					},{
						"value": 0,
						"label": "0"
					}]
				},
				"columns": [{
					"name": "tooltip",
					"template": "<strong>{{ geojson.properties.sector }}</strong><br />Heat pumps: {{ Number of Heat Pumps | toLocaleString() }}"
				}],
				"tooltip": "tooltip",
				"tools": {
					"filter": {
						"label": "Unique Postal Districts"
					}
				}
			}
		} %}{% endcomp %}
	</li>
	<li>

		<h3>EV chargers</h3>

		<p>This is a map of the number of EV chargers in each postcode sector of Leeds. Data from <a href="https://northernpowergrid.opendatasoft.com/explore/embed/dataset/lct-datasets-ps-upload/custom/">Northern Powergrid</a></p>

		{% comp 'wrapper', {
			"component": comp.oi.map.svg,
			"config": {
				"data": "data.sample_data",
				"geojson": {
				  "key": "sector",
				  "data": geojson.leeds_postcode_sectors
				},
				"key": "Unique Postal Districts",
				"value": "Number of EV Chargers",
				"scale": "Heat_r",
				"min": 0,
				"max": 1000,
				"legend": {
					"position": "bottom left",
					"items": [{
						"value": 1000,
						"label": "1000+"
					},{
						"value": 800,
						"label": "800"
					},{
						"value": 600,
						"label": "600"
					},{
						"value": 400,
						"label": "400"
					},{
						"value": 200,
						"label": "200"
					},{
						"value": 0,
						"label": "0"
					}]
				},
				"columns": [{
					"name": "tooltip",
					"template": "<strong>{{ geojson.properties.sector }}</strong><br />EV chargers: {{ Number of EV Chargers | toLocaleString() }}"
				}],
				"tooltip": "tooltip",
				"tools": {
					"filter": {
						"label": "Unique Postal Districts"
					}
				}
			}
		} %}{% endcomp %}
	</li>
	<li>

		<h3>Connections with LCT</h3>

		<p>This is a map of the percentage of connections in each postcode sector of Leeds using low carbon technologies (solar, heat pump, electric vehicle charging or battery storage). Data from <a href="https://northernpowergrid.opendatasoft.com/explore/embed/dataset/lct-datasets-ps-upload/custom/">Northern Powergrid</a></p>

		{% comp 'wrapper', {
			"component": comp.oi.map.svg,
			"config": {
				"data": "data.sample_data",
				"geojson": {
				  "key": "sector",
				  "data": geojson.leeds_postcode_sectors
				},
				"key": "Unique Postal Districts",
				"value": "% Of Connections with LCT",
				"scale": "Heat_r",
				"min": 0,
				"max": 100,
				"legend": {
					"position": "bottom left",
					"items": [{
						"value": 100,
						"label": "100%"
					},{
						"value": 80,
						"label": "80"
					},{
						"value": 60,
						"label": "60"
					},{
						"value": 40,
						"label": "40"
					},{
						"value": 20,
						"label": "20"
					},{
						"value": 0,
						"label": "0"
					}]
				},
				"columns": [{
					"name": "tooltip",
					"template": "<strong>{{ geojson.properties.sector }}</strong><br />Connections with LCT: {{ % Of Connections with LCT | toLocaleString() }}%"
				}],
				"tooltip": "tooltip",
				"tools": {
					"filter": {
						"label": "Unique Postal Districts"
					}
				}
			}
		} %}{% endcomp %}
	</li>
	<li>

		<h3>Connections with PV</h3>

		<p>This is a map of the number of the percentage of connections in each postcode sector of Leeds using photovoltaics. Data from <a href="https://northernpowergrid.opendatasoft.com/explore/embed/dataset/lct-datasets-ps-upload/custom/">Northern Powergrid</a></p>

		{% comp 'wrapper', {
			"component": comp.oi.map.svg,
			"config": {
				"data": "data.sample_data",
				"geojson": {
				  "key": "sector",
				  "data": geojson.leeds_postcode_sectors
				},
				"key": "Unique Postal Districts",
				"value": "% of Connections with PV",
				"scale": "Heat_r",
				"min": 0,
				"max": 100,
				"legend": {
					"position": "bottom left",
					"items": [{
						"value": 100,
						"label": "100%"
					},{
						"value": 80,
						"label": "80"
					},{
						"value": 60,
						"label": "60"
					},{
						"value": 40,
						"label": "40"
					},{
						"value": 20,
						"label": "20"
					},{
						"value": 0,
						"label": "0"
					}]
				},
				"columns": [{
					"name": "tooltip",
					"template": "<strong>{{ geojson.properties.sector }}</strong><br />Connections with PV: {{ % of Connections with PV | toLocaleString() }}%"
				}],
				"tooltip": "tooltip",
				"tools": {
					"filter": {
						"label": "Unique Postal Districts"
					}
				}
			}
		} %}{% endcomp %}
	</li>
	<li>

		<h3>Connections with Energy Storage</h3>

		<p>This is a map of the number of the percentage of connections in each postcode sector of Leeds using energy storage. Data from <a href="https://northernpowergrid.opendatasoft.com/explore/embed/dataset/lct-datasets-ps-upload/custom/">Northern Powergrid</a></p>

		{% comp 'wrapper', {
			"component": comp.oi.map.svg,
			"config": {
				"data": "data.sample_data",
				"geojson": {
				  "key": "sector",
				  "data": geojson.leeds_postcode_sectors
				},
				"key": "Unique Postal Districts",
				"value": "% of Connections with Energy Storage",
				"scale": "Heat_r",
				"min": 0,
				"max": 100,
				"legend": {
					"position": "bottom left",
					"items": [{
						"value": 100,
						"label": "100%"
					},{
						"value": 80,
						"label": "80"
					},{
						"value": 60,
						"label": "60"
					},{
						"value": 40,
						"label": "40"
					},{
						"value": 20,
						"label": "20"
					},{
						"value": 0,
						"label": "0"
					}]
				},
				"columns": [{
					"name": "tooltip",
					"template": "<strong>{{ geojson.properties.sector }}</strong><br />Connections with energy storage: {{ % of Connections with Energy Storage | toLocaleString() }}%"
				}],
				"tooltip": "tooltip",
				"tools": {
					"filter": {
						"label": "Unique Postal Districts"
					}
				}
			}
		} %}{% endcomp %}
	</li>
	<li>

		<h3>Connections with EV Chargers</h3>

		<p>This is a map of the number of the percentage of connections in each postcode sector of Leeds using EV chargers. Data from <a href="https://northernpowergrid.opendatasoft.com/explore/embed/dataset/lct-datasets-ps-upload/custom/">Northern Powergrid</a></p>

		{% comp 'wrapper', {
			"component": comp.oi.map.svg,
			"config": {
				"data": "data.sample_data",
				"geojson": {
				  "key": "sector",
				  "data": geojson.leeds_postcode_sectors
				},
				"key": "Unique Postal Districts",
				"value": "% of Connections with EV Chargers",
				"scale": "Heat_r",
				"min": 0,
				"max": 100,
				"legend": {
					"position": "bottom left",
					"items": [{
						"value": 100,
						"label": "100%"
					},{
						"value": 80,
						"label": "80"
					},{
						"value": 60,
						"label": "60"
					},{
						"value": 40,
						"label": "40"
					},{
						"value": 20,
						"label": "20"
					},{
						"value": 0,
						"label": "0"
					}]
				},
				"columns": [{
					"name": "tooltip",
					"template": "<strong>{{ geojson.properties.sector }}</strong><br />Connections with EV chargers: {{ % of Connections with EV Chargers | toLocaleString() }}%"
				}],
				"tooltip": "tooltip",
				"tools": {
					"filter": {
						"label": "Unique Postal Districts"
					}
				}
			}
		} %}{% endcomp %}
	</li>
	<li>

		<h3>Connections with heat pumps</h3>

		<p>This is a map of the number of the percentage of connections in each postcode sector of Leeds using heat pumps. Data from <a href="https://northernpowergrid.opendatasoft.com/explore/embed/dataset/lct-datasets-ps-upload/custom/">Northern Powergrid</a></p>

		{% comp 'wrapper', {
			"component": comp.oi.map.svg,
			"config": {
				"data": "data.sample_data",
				"geojson": {
				  "key": "sector",
				  "data": geojson.leeds_postcode_sectors
				},
				"key": "Unique Postal Districts",
				"value": "% of Connections with Heatpumps",
				"scale": "Heat_r",
				"min": 0,
				"max": 100,
				"legend": {
					"position": "bottom left",
					"items": [{
						"value": 100,
						"label": "100%"
					},{
						"value": 80,
						"label": "80"
					},{
						"value": 60,
						"label": "60"
					},{
						"value": 40,
						"label": "40"
					},{
						"value": 20,
						"label": "20"
					},{
						"value": 0,
						"label": "0"
					}]
				},
				"columns": [{
					"name": "tooltip",
					"template": "<strong>{{ geojson.properties.sector }}</strong><br />Connections with heat pumps: {{ % of Connections with Heatpumps | toLocaleString() }}%"
				}],
				"tooltip": "tooltip",
				"tools": {
					"filter": {
						"label": "Unique Postal Districts"
					}
				}
			}
		} %}{% endcomp %}
	</li>
</ul>
<p>Note that <strong>LS5 3</strong> has very high values for EV chargers and, therefore, low-carbon technologies because it contains a leasing company with many EVs registered to the same address.</p>

<h2>Notes</h2>

<p>These visualisations are made using <a href="https://open-innovations.github.io/oi-lume-viz/">OI Lume Viz</a>.</p>
