---
title: Are we there yet?
header_class: Q5
logo_colour: white
---

<p>Here is some placeholder text</p>

{#
<p>We've taken the <a href="https://www.ons.gov.uk/economy/regionalaccounts/grossdisposablehouseholdincome/datasets/regionalgrossdisposablehouseholdincomegdhi">regional gross disposable household income</a> (ONS) at ITL3 geographies and <a href="#aggregation">aggregated</a> both population and disposable income to DNO license areas. Figures are for 2022 basic prices.</p>
<h2>Gross disposable income per head</h2>
<p>The hex cartogram displays disposable income <a href="#perhead">per head</a> for each DNO area. You can adjust the year with the slider.</p>
{% comp 'wrapper', {
	"component": comp.oi.map.hex_cartogram,
	"config": {
		"data": "data.grossdisposblehouseholdincome_perhead",
		"hexjson": "hexjson.DNO",
		"width": 400,
		"value": "2020",
		"scale": "Viridis",
		"min": 0,
		"max": 30000,
		"matchKey": "Region",
		"legend": {
			"position": "top right",
			"items": [{
				"value": 30000,
				"label": "30k+"
			},{
				"value": 25000,
				"label": "25k"
			},{
				"value": 20000,
				"label": "20k"
			},{
				"value": 15000,
				"label": "15k"
			},{
				"value": 10000,
				"label": "10k"
			},{
				"value": 5000,
				"label": "5k"
			}]
		},
		"tools": {
			"slider": {
				"columns": ['1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020'],
				"width": "500px"
			}
		},
		"tooltip": "Gross disposable income ({{ _value }})<br />{{ Region }}: <strong>&pound;{{ {{ _value }} }}</strong>",
		"attribution": "Source: <a href=\"https://www.ons.gov.uk/economy/regionalaccounts/grossdisposablehouseholdincome/datasets/regionalgrossdisposablehouseholdincomegdhi\">Regional gross disposable household income: all ITL level regions</a> (ONS) aggregated to DNO license areas."
	},
	"download": {"text": "Gross disposable income per head by DNO license area", "type": "CSV"}
} %}{% endcomp %}

<p>The same data as above but as a line chart.</p>
{% comp 'wrapper', {
	"component": comp.oi.chart.line,
	"config": {
		"data": "data.grossdisposblehouseholdincome_perhead_transposed",
		"columns": [{
			"name": "tooltip-ENWL",
			"template": "ENWL<br />{{ Year }}: &pound;{{ ENWL | toLocaleString() }}"
		},{
			"name": "tooltip-NPGN",
			"template": "NPG (Northern Electric)<br />{{ Year }}: &pound;{{ NPG (Northern Electric) | toLocaleString() }}"
		},{
			"name": "tooltip-NPGY",
			"template": "NPG (Yorkshire Electric)<br />{{ Year }}: &pound;{{ NPG (Yorkshire Electric) | toLocaleString() }}"
		},{
			"name": "tooltip-SPEND",
			"template": "SPEN (SP Distribution)<br />{{ Year }}: &pound;{{ SPEN (SP Distribution) | toLocaleString() }}"
		},{
			"name": "tooltip-SPENM",
			"template": "SPEN (SP MANWEB)<br />{{ Year }}: &pound;{{ SPEN (SP MANWEB) | toLocaleString() }}"
		},{
			"name": "tooltip-SSE",
			"template": "SSE<br />{{ Year }}: &pound;{{ SSE | toLocaleString() }}"
		},{
			"name": "tooltip-SSES",
			"template": "SSE (Southern)<br />{{ Year }}: &pound;{{ SSE (Southern) | toLocaleString() }}"
		},{
			"name": "tooltip-UKPNE",
			"template": "UKPN (East)<br />{{ Year }}: &pound;{{ UKPN (East) | toLocaleString() }}"
		},{
			"name": "tooltip-UKPNL",
			"template": "UKPN (London)<br />{{ Year }}: &pound;{{ UKPN (London) | toLocaleString() }}"
		},{
			"name": "tooltip-UKPNS",
			"template": "UKPN (South)<br />{{ Year }}: &pound;{{ UKPN (South) | toLocaleString() }}"
		},{
			"name": "tooltip-WPDE",
			"template": "WPD (East Midlands)<br />{{ Year }}: &pound;{{ WPD (East Midlands) | toLocaleString() }}"
		},{
			"name": "tooltip-WPDM",
			"template": "WPD (Midlands)<br />{{ Year }}: &pound;{{ WPD (Midlands) | toLocaleString() }}"
		},{
			"name": "tooltip-WPDW",
			"template": "WPD (South Wales)<br />{{ Year }}: &pound;{{ WPD (South Wales) | toLocaleString() }}"
		},{
			"name": "tooltip-WPDS",
			"template": "WPD (South West)<br />{{ Year }}: &pound;{{ WPD (South West) | toLocaleString() }}"
		}],
		"axis": {
			"x": {
				"grid": {
					"show": true
				},
				"min": 1996,
				"max": 2022,
				"ticks": [{
					"value": 2000,
					"grid": true,
					"label": "2000"
				},{
					"value": 2005,
					"grid": true,
					"label": "2005"
				},{
					"value": 2010,
					"grid": true,
					"label": "2010"
				},{
					"value": 2015,
					"grid": true,
					"label": "2015"
				},{
					"value": 2020,
					"grid": true,
					"label": "2020"
				}]
			},
			"y": {
				"grid": {
					"show": true
				},
				"min": 0,
				"max": 33000,
				"ticks": [{
					"value": 0,
					"grid": true,
					"label": "£0k"
				},{
					"value": 5000,
					"grid": true,
					"label": "£5k"
				},{
					"value": 10000,
					"grid": true,
					"label": "£10k"
				},{
					"value": 15000,
					"grid": true,
					"label": "£15k"
				},{
					"value": 20000,
					"grid": true,
					"label": "£20k"
				},{
					"value": 25000,
					"grid": true,
					"label": "£25k"
				},{
					"value": 30000,
					"grid": true,
					"label": "£30k"
				}]
			}
		},
		"series": [{
			"title": "ENWL",
			"x": "Year",
			"y": "ENWL",
			"tooltip": "tooltip-ENWL"
		},{
			"title": "NPG (Northern Electric)",
			"x": "Year",
			"y": "NPG (Northern Electric)",
			"tooltip": "tooltip-NPGN"
		},{
			"title": "NPG (Yorkshire Electric)",
			"x": "Year",
			"y": "NPG (Yorkshire Electric)",
			"tooltip": "tooltip-NPGY"
		},{
			"title": "SPEN (SP Distribution)",
			"x": "Year",
			"y": "SPEN (SP Distribution)",
			"tooltip": "tooltip-SPEND"
		},{
			"title": "SPEN (SP MANWEB)",
			"x": "Year",
			"y": "SPEN (SP MANWEB)",
			"tooltip": "tooltip-SPENM"
		},{
			"title": "SSE",
			"x": "Year",
			"y": "SSE",
			"tooltip": "tooltip-SSE"
		},{
			"title": "SSE (Southern)",
			"x": "Year",
			"y": "SSE (Southern)",
			"tooltip": "tooltip-SSES"
		},{
			"title": "UKPN (East)",
			"x": "Year",
			"y": "UKPN (East)",
			"tooltip": "tooltip-UKPNE"
		},{
			"title": "UKPN (London)",
			"x": "Year",
			"y": "UKPN (London)",
			"tooltip": "tooltip-UKPNL"
		},{
			"title": "UKPN (South)",
			"x": "Year",
			"y": "UKPN (South)",
			"tooltip": "tooltip-UKPNS"
		},{
			"title": "WPD (East Midlands)",
			"x": "Year",
			"y": "WPD (East Midlands)",
			"tooltip": "tooltip-WPDE"
		},{
			"title": "WPD (Midlands)",
			"x": "Year",
			"y": "WPD (Midlands)",
			"tooltip": "tooltip-WPDM"
		},{
			"title": "WPD (South Wales)",
			"x": "Year",
			"y": "WPD (South Wales)",
			"tooltip": "tooltip-WPDW"
		},{
			"title": "WPD (South West)",
			"x": "Year",
			"y": "WPD (South West)",
			"tooltip": "tooltip-WPDS"
		}],
		"legend": {
			"position": "bottom",
			"items": [{
				"value": 30000,
				"label": "30k+"
			},{
				"value": 25000,
				"label": "25k"
			},{
				"value": 20000,
				"label": "20k"
			},{
				"value": 15000,
				"label": "15k"
			},{
				"value": 10000,
				"label": "10k"
			},{
				"value": 5000,
				"label": "5k"
			}]
		},
		"attribution": "Data: <a href=\"https://www.ons.gov.uk/economy/regionalaccounts/grossdisposablehouseholdincome/datasets/regionalgrossdisposablehouseholdincomegdhi\">Regional gross disposable household income: all ITL level regions</a> (ONS)"
	},
	"download": {"text": "Gross disposable income per head by DNO license area", "type": "CSV"}
} %}{% endcomp %}


<h2>As a percentage of London</h2>
<p>Disposable income per head for each DNO license area as a percentage of UKPN (London).</p>

{% comp 'wrapper', {
	"component": comp.oi.chart.line,
	"config": {
		"data": "data.grossdisposblehouseholdincome_compared_to_london",
		"columns": [{
			"name": "tooltip-ENWL",
			"template": "ENWL<br />{{ Year }}: {{ ENWL | toFixed(1) }}%"
		},{
			"name": "tooltip-NPGN",
			"template": "NPG (Northern Electric)<br />{{ Year }}: {{ NPG (Northern Electric) | toFixed(1) }}%"
		},{
			"name": "tooltip-NPGY",
			"template": "NPG (Yorkshire Electric)<br />{{ Year }}: {{ NPG (Yorkshire Electric) | toFixed(1) }}%"
		},{
			"name": "tooltip-SPEND",
			"template": "SPEN (SP Distribution)<br />{{ Year }}: {{ SPEN (SP Distribution) | toFixed(1) }}%"
		},{
			"name": "tooltip-SPENM",
			"template": "SPEN (SP MANWEB)<br />{{ Year }}: {{ SPEN (SP MANWEB) | toFixed(1) }}%"
		},{
			"name": "tooltip-SSE",
			"template": "SSE<br />{{ Year }}: {{ SSE | toFixed(1) }}%"
		},{
			"name": "tooltip-SSES",
			"template": "SSE (Southern)<br />{{ Year }}: {{ SSE (Southern) | toFixed(1) }}%"
		},{
			"name": "tooltip-UKPNE",
			"template": "UKPN (East)<br />{{ Year }}: {{ UKPN (East) | toFixed(1) }}%"
		},{
			"name": "tooltip-UKPNL",
			"template": "UKPN (London)<br />{{ Year }}: {{ UKPN (London) | toFixed(1) }}%"
		},{
			"name": "tooltip-UKPNS",
			"template": "UKPN (South)<br />{{ Year }}: {{ UKPN (South) | toFixed(1) }}%"
		},{
			"name": "tooltip-WPDE",
			"template": "WPD (East Midlands)<br />{{ Year }}: {{ WPD (East Midlands) | toFixed(1) }}%"
		},{
			"name": "tooltip-WPDM",
			"template": "WPD (Midlands)<br />{{ Year }}: {{ WPD (Midlands) | toFixed(1) }}%"
		},{
			"name": "tooltip-WPDW",
			"template": "WPD (South Wales)<br />{{ Year }}: {{ WPD (South Wales) | toFixed(1) }}%"
		},{
			"name": "tooltip-WPDS",
			"template": "WPD (South West)<br />{{ Year }}: {{ WPD (South West) | toFixed(1) }}%"
		}],
		"axis": {
			"x": {
				"grid": {
					"show": true
				},
				"min": 1996,
				"max": 2022,
				"ticks": [{
					"value": 2000,
					"grid": true,
					"label": "2000"
				},{
					"value": 2005,
					"grid": true,
					"label": "2005"
				},{
					"value": 2010,
					"grid": true,
					"label": "2010"
				},{
					"value": 2015,
					"grid": true,
					"label": "2015"
				},{
					"value": 2020,
					"grid": true,
					"label": "2020"
				}]
			},
			"y": {
				"min": 0,
				"max": 100,
				"ticks": [{
					"value": 0,
					"grid": true,
					"label": "0%"
				},{
					"value": 20,
					"grid": true,
					"label": "20%"
				},{
					"value": 40,
					"grid": true,
					"label": "40%"
				},{
					"value": 60,
					"grid": true,
					"label": "60%"
				},{
					"value": 80,
					"grid": true,
					"label": "80%"
				},{
					"value": 100,
					"grid": true,
					"label": "100%"
				}]
			}
		},
		"series": [{
			"title": "ENWL",
			"x": "Year",
			"y": "ENWL",
			"tooltip": "tooltip-ENWL"
		},{
			"title": "NPG (Northern Electric)",
			"x": "Year",
			"y": "NPG (Northern Electric)",
			"tooltip": "tooltip-NPGN"
		},{
			"title": "NPG (Yorkshire Electric)",
			"x": "Year",
			"y": "NPG (Yorkshire Electric)",
			"tooltip": "tooltip-NPGY"
		},{
			"title": "SPEN (SP Distribution)",
			"x": "Year",
			"y": "SPEN (SP Distribution)",
			"tooltip": "tooltip-SPEND"
		},{
			"title": "SPEN (SP MANWEB)",
			"x": "Year",
			"y": "SPEN (SP MANWEB)",
			"tooltip": "tooltip-SPENM"
		},{
			"title": "SSE",
			"x": "Year",
			"y": "SSE",
			"tooltip": "tooltip-SSE"
		},{
			"title": "SSE (Southern)",
			"x": "Year",
			"y": "SSE (Southern)",
			"tooltip": "tooltip-SSES"
		},{
			"title": "UKPN (East)",
			"x": "Year",
			"y": "UKPN (East)",
			"tooltip": "tooltip-UKPNE"
		},{
			"title": "UKPN (London)",
			"x": "Year",
			"y": "UKPN (London)",
			"tooltip": "tooltip-UKPNL"
		},{
			"title": "UKPN (South)",
			"x": "Year",
			"y": "UKPN (South)",
			"tooltip": "tooltip-UKPNS"
		},{
			"title": "WPD (East Midlands)",
			"x": "Year",
			"y": "WPD (East Midlands)",
			"tooltip": "tooltip-WPDE"
		},{
			"title": "WPD (Midlands)",
			"x": "Year",
			"y": "WPD (Midlands)",
			"tooltip": "tooltip-WPDM"
		},{
			"title": "WPD (South Wales)",
			"x": "Year",
			"y": "WPD (South Wales)",
			"tooltip": "tooltip-WPDW"
		},{
			"title": "WPD (South West)",
			"x": "Year",
			"y": "WPD (South West)",
			"tooltip": "tooltip-WPDS"
		}],
		"legend": {
			"position": "bottom",
			"items": [{
				"value": 30000,
				"label": "30k+"
			},{
				"value": 25000,
				"label": "25k"
			},{
				"value": 20000,
				"label": "20k"
			},{
				"value": 15000,
				"label": "15k"
			},{
				"value": 10000,
				"label": "10k"
			},{
				"value": 5000,
				"label": "5k"
			}]
		},
		"attribution": "Data: <a href=\"https://www.ons.gov.uk/economy/regionalaccounts/grossdisposablehouseholdincome/datasets/regionalgrossdisposablehouseholdincomegdhi\">Regional gross disposable household income: all ITL level regions</a> (ONS)"
	},
	"download": {"text": "Gross disposable income per head by DNO license area", "type": "CSV"}
} %}{% endcomp %}

<h2>Notes</h2>

<h3 id="aggregation">Aggregation</h3>
<p>The <a href="https://www.ons.gov.uk/economy/regionalaccounts/grossdisposablehouseholdincome/datasets/regionalgrossdisposablehouseholdincomegdhi">regional gross disposable household income</a> comes from the ONS/NOMIS at ITL3 geography level. We used the Open Innovations <a href="https://open-innovations.github.io/geography-lookup-builder/">geography lookup builder</a> along with <a href="https://geoportal.statistics.gov.uk/datasets/ons::international-territorial-level-3-january-2021-uk-bgc-v3-1/explore">ITL3 boundaries</a> (ONS, 2021) and <a href="https://data.nationalgrideso.com/system/gis-boundaries-for-gb-dno-license-areas">DNO license areas</a> (National Grid) to calculate the fraction (by area) of overlap between each ITL3 region and each DNO license area. This was saved as JSON output and then used to apportion the ITL3-level data to DNO license areas.</p>

<h3 id="perhead">Per head</h3>

<p>The totals for gross disposable income and population in each DNO license area were added up separately and then the per head values calculated by dividing total income by total population.</p>

#}