---
title: Welcome to the OI Lume Template
---

<p>
  You'll need to customise some things to get started:
</p>

<ul>
  <li>
    Review the contents of <code>_config.ts</code>. Pay particular attention to the site URL, as this will affect how
    relative links are created. You can probably ignore the rest of this for the moment.
  </li>
  <li>
    The source for the site is held in the <code>src</code> directory.
  </li>
  <li>
    Review the contents of <code>src/_data.yml</code>
      <ul>
        <li>This is where the default page layout is defined in the <code>layout</code> key. The default is <code>templates/page.njk</code>. This template can be found in the <code>_includes</code> directory.</li>
        <li>Select colours for the site header and logo by updating the <code>logo_colour</code> and <code>header_class</code>s. The <a href="https://open-innovations.org/brand/">Open Innovations Brand</a> page will help.</li>
        <li>Edit the site title and other SEO metadata in under the <code>metas</code> key. See the <a href="https://lume.land/plugins/metas/">Lume metas plugin documentation</a> for more information.</li>
      </ul>
  </li>
  <li>
    Edit the title of this page in the frontmatter above. You can override the template by setting the
    <code>layout</code> key.
  </li>
</p>