---
title: NPG Net Zero Hack
---

<ol>
{% for team in search.pages('team', 'url') | data %}
	<li><a href="{{ team.url }}"><span class="strip {{ team.header_class }}">Team {{ loop.index }}</span>: {{ team.title }}</a></li>
{% endfor %}
</ol>
